# http://flake8.pycqa.org/en/latest/user/error-codes.html
# https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes
# http://flake8.pycqa.org/en/latest/user/options.html#options-list

[flake8]
ignore =
  D203,

  # Missing docstring in __init__
  D107,

  # Empty line between class declaration and body.
  D204,

  # Empty line between docstring summary and body.
  D205,

  # Indentation problems with docstring
  D208,

  # accept indents other than 4 spaces for code
  E111,

  # accept indents other than 4 spaces for comments
  E114,

  # under-indentation
  E121,

  # over-indentation for hanging indent
  E126,

  # over-indentation for visual indent
  E127,

  # under-indentation for visual indent
  E128,

  # multiple spaces after operator
  E222,

  # multiple spaces after comma
  E241,

  # space around = func(a = 1)
  E251,

  # multiple spaces after keyword
  E271,

  # multiple spaces before keyword
  E272,

  # multiple imports on one line
  E401,

  # module level imports anywhere (sometimes you need some conditional code in between)
  E402,

  # accept long lines > 79 characters; not used since we specify longer lines below
  # E501,

  # multiple statements on a line (colon)
  E701

  # multiple statements on a line (semicolon)
  E702,

  # multiple statements on a line (def)
  E704,

  # when you want to use simple except without argument (sometimes necessary), mark the line with  # noqa: E722
  # E722,

  # Ignore missing comment in magice methods
  D105,

  # whitespace beside """ inside docstrings
  D210,

  # ''' for docstrings
  D300,

  # camelcase functions
  N802,

  # camelcase function arguments
  N803,

  # renaming self
  N805,

  # camelcase variable
  N806,

  # camelcase class variable
  N815,

  # camelcase variable on module level
  N816
exclude = .git,.svn,__pycache__,docs,build,dist
max-complexity = 18
doctests
statistics
count
max-line-length=240
max-doc-length=240